body {
  background-color: #ffffff; 
}

header {
  background-color: #0033A0; 
}

.btn-primary {
  background-color: #0033A0;
  border-color: #0033A0;
}

.btn-danger {
  background-color: #EE1C25;
  border-color: #EE1C25;
}

footer {
  background-color: #0033A0; 
}

footer a:hover {
  text-decoration: underline;
}

.btn-primary:hover, .btn-danger:hover {
  opacity: 0.8;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #0033A0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#backToTop:hover {
  background-color: #EE1C25;
}

/* Event Images Styling */
.event-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.event-image:hover {
  transform: scale(1.05);
}
